@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @layer responsive {
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }
}

@font-face {
    font-family: "fontb";
    src: url("../src/!font/netflix/NetflixSans-Bold.otf");
}

.fontb {
    font-family: "fontb";
}

@font-face {
    font-family: "fontl";
    src: url("../src/!font/netflix/NetflixSans-Medium.otf");
}

.fontl {
    font-family: "fontl";       
}
